
<div class="fourpages">
    
      <div class="fourpages__design">
        <div class="fourpages__head ">
          DESIGN
        </div>
        <div class="fourpages__def">
          <div class="each__def" style='border-top: solid 1px rgb(0, 250, 146)';>
            {{design_def}}
          </div>
           
        </div>
      </div>
      <div class="fourpages__editing">
        <div class="fourpages__head ">
          EDITING
        </div>
        <div class="fourpages__def" style="border-top: 1px solid #20cbff;">
          <div class="each__def">
            {{editing_def}}
          </div>
        </div>
      </div>
      <div class="fourpages__filming">
        <div class="fourpages__head ">
          FILMING 
        </div>
        <div class="fourpages__def" style="border-top: 1px solid #ff2058;">
          <div class="each__def">
            {{filming_def}}
          </div>
        </div>
      </div>
      <div class="fourpages__web">
        <div class="fourpages__head">
          WEB DESIGN 
        </div>
        <div class="fourpages__def" style="border-top: 1px solid #dbdbdb;">
          <div class="each__def">
            {{web_def}}
          </div>
        </div>
      </div>
    </div>