<div class="aboutPage" id="aboutPage">
      <div class="aboutPage__poster">درباره ما</div>
      <div class="aboutPage__col">
        <i class="fas fa-quote-left"></i>
        <div class="col__qout">You don't take a photograph, you make it.</div>
        <div class="col__def">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div class="col__btn">Contact Now</div>
      </div>
    </div>