<section class="contactPage">
      <div class="contactPage__info">

        <div class="contact_info">
          <i class="fas fa-phone-alt"></i>
          <div class="firstLine">General Enquiries</div>
          <div class="seccondLine">sales@domain.com</div>
        </div>

        <div class="contact_info">
          <i class="far fa-envelope"></i>
          <div class="firstLine">General Enquiries</div>
          <div class="seccondLine">sales@domain.com</div>
        </div>

        <div class="contact_info">
          <i class="fas fa-map-marker-alt"></i>
          <div class="firstLine">General Enquiries</div>
          <div class="seccondLine">sales@domain.com</div>
        </div>
      </div>

      <form action="GET" class="contactPage__form">
        <div class="form_info">
          <div class="name_email">
            <input type="text" placeholder="نام شما">
            <input type="email" placeholder="آدرس ایمل">
          </div>
          <div class="textArea">
            <textarea name="" id=""  placeholder="پیام شما"></textarea>
          </div>
        </div>
        <div class="form_buttom">
          <div class="alert">لطفا تمام فیلد ها را پر کنید</div>
          <input class="botton" type="submit" value="ارسال پیام">
        </div>
        
      </form>
</section>