<div class="nav__button">
  <img src="./nav-icon/home q.png" alt="">
</div>
  <div class="mobileHeader">
    <div class="mobileHeader__poster">Argo</div>
    <div class="mobileHeader__navbtn"></div>
  </div>
      <div class='nav'>
        
        <div class="nav__socials">
          <div class="social_media">
            <a href="https://www.aparat.com/Argo_Ads" target="_blank"><i class="fab fa-telegram"></i></a>
          </div>
          <div class="social_media">
            <a href="https://www.aparat.com/Argo_Ads" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
          <div class="social_media">
            <a href="https://www.aparat.com/Argo_Ads" target="_blank"><i class="fab fa-whatsapp"></i></a>
          </div>
          <div class="social_media">
            <a href="https://www.aparat.com/Argo_Ads" target="_blank"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class='links'>
          <a class='a' href="#"><img src="./nav-icon/home q.png" alt="">HOME</a>
          <a class='a' href="#aboutPage"><img src="./nav-icon/about usg.png" alt="">درباره ما</a>
          <a class='a' href="#products"><img src="./nav-icon/exaple.png" alt="">نمونــه کار</a>
          <a class='a' href="#team"><img src="./nav-icon/teem.png" alt="">تیم</a>
        </div>
      </div>