<div class="home-1">
        <div class="observer"></div>
        <div class="banner">
          <div class="up"><i>A</i>DVE<i>R</i>TISING <i>G</i>R<i>O</i>UP</div>
          <div class="khat"></div>
          <div class="down"><h5>گـر و ه</h5><h5>تبلیغا تـی</h5><h5>آ ر گـو</h5></div>
        </div>
      </div>