<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/31ecd2c5d4.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>
<!-- <script src="scrollreveal.js"></script> -->
<script src="./scripts/scripts.js"></script> 
<script src="./scripts/filter-menu.js"></script>
<script src="./scripts/filter-video.js"></script>
<script src="./scripts/navbar.js"></script>
<script src="./scripts/section-test.js"></script>  