<div class="team_container" id="team">
      <div class="team__background"><img src="./cam/two lenz 2.jpg" alt=""></div>
      <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player id='lottie' src="https://assets4.lottiefiles.com/packages/lf20_tuadwmyo.json"  background="transparent"  speed="1"  style="width: 600px; height: 600px;"  loop  autoplay></lottie-player> -->
        <div class="teamPage__poster">تیم آرگو</div>
        <div class="team">
          <div class="team__row">
            <div class="team__row__head">
              <div class="head__khat"></div>
              <div class="head__title"></div>
            </div>
            <div class="team__row__body">
              <div class="person">
                <div class="img"><img src="./team/ali.jpg" alt=""></div>
                <div class="infos">
                  <div class="name">علی رضایی</div>
                  <div class="info">فیلمبردار</div>
                  
                </div>
              </div>

              <div class="person">
                <div class="img"><img src="./team/ariyan.jpg" alt=""></div>
                <div class="infos">
                  <div class="name">آرین عبیدی</div>
                  <div class="info">طراح سایت</div>
                  <!-- <div class="social">
                    <img src="./telegram.svg" alt="">
                    
                    <img src="./whatsapp.svg" alt="">
                  </div> -->
                </div>
              </div>              
            </div>            
          </div>
          <div class="team__row">
            <div class="team__row__head">
              <div class="head__khat"></div>
              <div class="head__title"></div>
            </div>
            <div class="team__row__body">
              <div class="person">
                <div class="img"><img src="./team/mohammad.jpg" alt=""></div>
                <div class="infos">
                  <div class="name">محمد رحیمی</div>
                  <div class="info">فیلمبردار</div>
                </div>
              </div>
            </div>            
          </div>
        </div>
    </div>
  </div>
