@media screen and (max-width: 500px) {
    .home-1 .banner {
        width: auto;
        position: relative;
        top: 190px;
        left: 30px;
        height: 500px;
    }
    .home-1 .up {
        font-size: 25px;
        letter-spacing: 15px;
        margin: 0 0 0 10px;
        height: 100px;
        top: 50%;
    }
    .up i {
        font-size: 30px;
    }
    .home-1 .khat {
        width: 50%;
        height: 2px;
        background-color: #d9e8f8;
        transition: 400ms;
    }
    .home-1 .down {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        gap: 15px;
        margin: 0px 0px 0 0;
        justify-content: center;
        height: 70px;
    }
    .down h5 {
        font-size: 36px;
        overflow: hidden;
        margin: 0 0;
    }
    .scroll_banner .down {
        transform: translate(0px, -70px);
        overflow: visible;
        flex-direction: row-reverse;
    }
    .scroll_banner .up {
        overflow: visible;
        transform: translate(0px, 100px);
        letter-spacing: 15px;
    }
    .scroll_banner .khat {
        transform: translate(130px, 0);
    }
    .fourpages__head {
        font-size: 80px;
    }
    .typography {
        background-size: contain;
        max-height: 100vw;
    }
    .aboutPage {
        height: unset;
        background-size: cover contain;
        background-position: -360px -90px;
    }
    .aboutPage__poster {
        font-size: 80px;
    }
    .aboutPage__col {
        width: auto;
        display: flex;
        flex-direction: column;
        margin: 250px 0 80px 0px;
    }
    .aboutPage__col i {
        font-size: 3.5rem;
    }
    
    .photo-grid {
        flex-direction: column;
        align-items: center;
    }
    .contain_card, .card {
        width: 70vw;
        height: 70vw;
    }
    .filter-menu {
        flex-direction: column;
    }
    
    .filter-menu li.current {
        font-size: 1.5rem;
        transform: translate(0, 0);
    }
    
    .team {
        position: relative;
        display: initial;
        left: 80px;
        top: -150px;
    }
    .team__row__body {
        display: flex;
        flex-direction: column;
    }
    .teamPage__poster {
        font-size: 80px;
        position: relative;
        top: -220px;
    }
    .team__background {
        position: initial;
    }
    .team__background img {
        width: 100%;
    }
    .form_info input {
        width: 70%;
    }
    .name_email {
        text-align: center;
    }
}